<!-- Firebase SDK -->
<script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore-compat.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCgKYxdOg2jEEltsACaN6Wp8K-Z2iX18f4",
    authDomain: "minecraft-tatuto-blog.firebaseapp.com",
    projectId: "minecraft-tatuto-blog",
    storageBucket: "minecraft-tatuto-blog.firebasestorage.app",
    messagingSenderId: "63127091394",
    appId: "1:63127091394:web:e018675b35f4d07a2a235b"
  };
  firebase.initializeApp(firebaseConfig);
  const auth = firebase.auth();
  const db = firebase.firestore();
</script>
