<nav class="site-nav">
  <div class="container">
    <a class="site-logo" href="{{ "/" | relative_url }}">My Minecraft Blog</a>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ "/plugin/" | relative_url }}">プラグイン関連</a>
      </li>
      <li class="nav-item">
        <a href="{{ "/minecraft/" | relative_url }}">マインクラフト基礎</a>
      </li>
      <li class="nav-item">
        <a href="{{ "/about/" | relative_url }}">このサイトについて</a>
      </li>
      <!-- 他にも必要なメニューをここに追加 -->
    </ul>
  </div>
</nav>
